<div class="table-responsive">
  <div class="widget1_alignment">
    <div class="widget1">
      <strong>
        <p class="text-center"><%= link_to @user_name, @user_href, :target => "_blank" %>'s last ratings</p>
      </strong>
  	  <table class="table table-condensed">
  	    <% @movies.each do |index, movie| %>
  	  	  <tr class="last_tr">
  	  	    <td rowspan="4" width="70" class="first_td">
  	  	      <%= link_to image_tag(movie[:poster], size: "80x105"), movie[:url], :target => "_blank" %>
  	  	      &nbsp;
  	  	      <div class="star-box giga-star">
  	  	        <div class="titlePageSprite star-box-giga-star">&nbsp;<%= movie[:rating] %></div>
  	  	      </div>
  	  	    </td>
  	  	    <td>
  	  	      <%= link_to movie[:title], movie[:url], :target => "_blank" %>
  	  	      <p class="text-muted" style="display: inline;">(<%= movie[:year] %>)</p>
  	  	      <p class="text-muted" style="display: inline;">(<%= movie[:length] %> min)</p>
  	  	    </td>
  	  	  </tr>
  	  	  <tr><td><small>Director: <%= link_to movie[:director], movie[:director_url], :target => "_blank" %></small></td></tr>
  	  	  <tr>
  	  	    <td>
  	  	      <small>Stars: <%= link_to movie[:star1], movie[:star1_url], :target => "_blank" %>,
  	  	                    <%= link_to movie[:star2], movie[:star2_url], :target => "_blank" %>,
  	  	                    <%= link_to movie[:star3], movie[:star3_url], :target => "_blank" %>
  	  	      </small> 
  	  	    </td>
  	  	  </tr>
  	  	  <tr class="last_tr">
  	  	    <td>
  	  	      <small><em><%= movie[:plot] %></em></small>
  	  	    </td>
  	  	  </tr>
  	    <% end %>
  	  </table>
  	  <p class="text-center text-muted"><em>Developed by <%= link_to "Mshn", "http://rekursifdusunce.blogspot.com", :target => "_blank" %></em></p>
  	</div>
  </div>
</div>